.small-title-geo {
	font-family: "BPG ExtraSquare Mtavruli", sans-serif;
	font-size: 14px;
	font-weight: bold;}

.small-title-box {
	font-family: "BPG ExtraSquare Mtavruli", sans-serif;
	font-size: 14px;
	font-weight: bold;}
.main-title-geo {
	font-family: "BPG ExtraSquare Mtavruli", sans-serif;
	font-size: 42px;
	font-weight: bold;
}
.block-title-geo {
	font-family: "BPG ExtraSquare Mtavruli", sans-serif;
	font-size: 18px;
}
.block-text-geo {
	font-family: "BPG Ingiri", sans-serif;
	font-size: 14px;
}
.small-title-en {
	font-family: 'Staatliches', cursive;
	font-size: 14px;}
.block-title-en {
	font-family: 'Staatliches', cursive;
	font-size: 18px;
}
.block-text-en {
	font-family: 'Inconsolata', monospace;
	font-size: 14px;
}
.main-title-en {
	font-family: 'Staatliches', cursive;
	font-size: 42px;
}
.small-box-title {
	font-family: 'Staatliches', cursive;
	font-size: 14px;}